body {
}

#stack {
  font-family: monospace;
  outline: 0;
  float: left;
}

#stack table {
  table-layout: fixed;
}

#stack .cell {
  white-space: pre;
  max-width: 0.75em;
}

#stack .cell.go {
  text-decoration: underline;
  cursor: pointer;
}

#stack.edit .cell {
  cursor: cell !important;
}

#stack.edit .card {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#stack.edit .cell.selected {
  filter: invert(100%) !important;
  -webkit-filter: invert(100%) !important;
}

#stack.edit .cell.active,
#stack.edit .cell:hover {
  filter: invert(100%) !important;
  -webkit-filter: invert(100%) !important;
  opacity: 0.5;
}

#stack.edit .cell.cursor {
  filter: invert(100%) !important;
  -webkit-filter: invert(100%) !important;
}

#tools {
  float: left;
  display: none;
  font-size: 12px;
}

#tools textarea,
#tools input {
  margin-right: 5px;
}

#tools input.numeric {
  width: 30px;
}

#tools textarea {
  vertical-align: bottom;
  white-space: pre;
  font-family: monospace;
}

#tools li.edit {
  display: none;
}

#tools.edit li.edit {
  display: block;
}

#tools li {
  list-style-type: none;
  margin: 10px;
}

#tools li hr {
  max-width: 200px;
  margin: 10px 0px 10px -10px;
}

#hidetools {
}

#showtools {
  position: fixed;
  z-index: 10;
  right: 10px;
  top: 10px;
  background: #00f;
  color: #fff;
  font-weight: bold;
  padding: 2px;
  text-decoration: none;
  font-size: 14px;
}

#stack.maximize {
  font-size: 1.75em;
}

#savestack {
  display: none;
}

#diffstack {
  display: inline !important;
}
