extends base

block content
  section
    h1 Hack Together
    ul
      li
        a(href="#") Read the rules
      li
        a(href="#") Closed hacks

  section
    h1 Hacks
    table
      thead
        tr
          th Date
          th Spot
          th Host
          th Time
          th Size
          th Open

      tbody
        tr
          td Tuesday 9/1
          td Facebook
          td Brandon
          td 
          
            
