extends base

block title
  | | Welcome

block header

block nav

block content
  .welcome
    .row
      .twelve.columns
        img(src="#{path}/img/logo/hackerunion_black.png")

  .row.map
    .eight.columns
       h1.subheader Welcome to the Hacker Union
       p.lead A community of Engineers, Designers, Artists. 
         strong
           | Hackers.
       p The Hacker Union is a global initiative to support, connect, and empower creative people. Apply today and join the movement.
       
       .cities
         a(href="/nyc/")
           .label.newyork New York
         a(href="/petition/")
           .label.portland Portland
         a(href="/petition/")
           .label.sanfrancisco San Francisco
         a(href="/petition/")
           .label.boulder Boulder
         a(href="/petition/")
           .label.austin Austin
         a(href="/petition/")
           .label.seattle Seattle
         a(href="/petition/")
           .label & More

    .four.columns      
      h6 Join the Union
      form(action="/", method="post")
        input(type="text", value="Full Name")
        input(type="text", value="Email")
        input(type="submit", value="Request Account").button.full-width
      
      hr
      
      dl.tabs.pill
          dd.active
            a(href="#{link}/main") Continue As Guest
          dd
            a(href="#{link}/main") Sign In
