html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: 400;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: none;
}

a img {
  border: none;
}

*, :before, :after {
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a, input[type="submit"] {
  cursor: pointer;
}

input, select, textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

strong, b {
  font-weight: 700;
}

em, i {
  font-style: italic;
}

nav.loading {
  opacity: 0.5;
  cursor: wait;
}

iframe.exec {
  display: block;
  padding: 0 !important;
  width: 100%;
  height: 100%;
}

pre {
  word-break: break-word;
  overflow: visible;
}

#message {
  word-break: break-word;
}

#shell {
  background: #fff;
  color: #000;
  font-family: "Andale Mono", AndaleMono, monospace;
  display: none;
  z-index: 100;
}

#shell iframe {
  width: 100%;
  height: 100%;
}

.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

* {
  box-sixing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#templates {
  display: none;
}

#dir {
  display: none;
}

body {
  background: #000;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin: 0;
}

body .container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

body .container main {
  position: relative;
  min-height: 100%;
}

body .container main nav, body .container main .content {
  position: relative;
}

body .container main nav {
  float: left;
  clear: left;
  width: 330px;
  text-shadow: 0 0 2px #000;
  font-family: "Andale Mono", AndaleMono, monospace;
}

body .container main nav .title-wrapper {
  padding: 10px;
}

body .container main nav .title-wrapper .title {
  border-top: 3px double #29ff82;
  border-bottom: 3px double #29ff82;
  height: 100px;
  padding: 7px;
}

body .container main nav .title-wrapper .title img.logo {
  float: left;
  border-right: 1px solid #29ff82;
  padding: 10px 15px;
}

body .container main nav .title-wrapper .title .name {
  color: #29ff82;
  border-bottom: 1px solid #29ff82;
  margin-left: 85px;
  font-size: 25px;
  padding: 10px 5px 10px 10px;
}

body .container main nav .title-wrapper .title .secondary {
  color: #29ff82;
  margin-left: 80px;
  font-size: 18px;
  padding: 10px 10px 10px 15px;
}

body .container main nav .list-wrapper .list {
  height: 100%;
  padding: 10px 10px 10px 0;
}

body .container main nav .list-wrapper .list ul {
  padding-left: 20px;
}

body .container main nav .list-wrapper .list ul li {
  color: #29ff82;
  font-size: 15px;
  line-height: 24px;
}

body .container main nav .list-wrapper .list ul li.special a {
  color: #000;
  background: #29ff82;
  text-shadow: none; 
}

body .container main nav .list-wrapper .list ul li.special a:hover {
  background: #8fffbe;
  color: #000;
}

body .container main nav .list-wrapper .list ul li div.icon {
  display: inline-block;
  width: 30px;
  text-align: center;
}

body .container main nav .list-wrapper .list ul li a {
  color: #29ff82;
  text-decoration: none;
}

body .container main nav .list-wrapper .list ul li a:hover {
  color: #8fffbe;
  text-decoration: none;
}

body .container main .content-wrapper {
  position: absolute;
  top: 0px;
  left: 330px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
  color: #000;
  background: url('../img/grid.png') #999 repeat 0 0;
  border-left: 1px solid #ccc;
}

body .container main .content-wrapper .content {
  display: none;
  margin: 25px;
  padding: 10px 80px 10px 40px;
  background: #eee;
  border: 1px solid #666;
  border-width: 0px 1px 1px 0px;
}

body .container main .content-wrapper .content ul {
  list-style-type: square;
}

body .container main .content-wrapper .content ol {
  list-style-type: decimal;
}

body .container main .content-wrapper .content li {
  margin-bottom: 5px;
}

body .container main .content-wrapper .content p {
  line-height: 1.2em;
  padding-left: 4px;
}

body .container main .content-wrapper .content h2 {
  margin-top: 1.4em;
}

body .container main .content-wrapper .content.seamless {
  position: absolute;
  padding: 0px;
  top: 40px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 0px;
  margin: 0px;
}

body .container main .content-wrapper .content a {
  color: #00f;
}

body .container main .content-wrapper .content a:visited {
  color: #f00;
}

body .container main .content-wrapper .content a:hover {
  color: #f00;
}

body .container main .content-wrapper .content:empty {
  display: none !important;
}

body .container header {
  height: 40px;
  background: #eee;
  color: #1b1c1b;
  font-size: 15px;
  line-height: 40px;
  padding: 0 10px;
  border-bottom: 1px solid #888;
  font-family: "Andale Mono", AndaleMono, monospace;
}

body .container header .left {
  float: left;
}

body .container header .right {
  float: right;
}

body .container header a {
  color: #000;
}

* html .group, :first-child + html .group {
  zoom: 1;
}

::-moz-selection, ::selection {
  background: #29ff82;
  color: #272928;
  text-shadow: none;
}

body .container main .content-wrapper .content a {
}

.clear {
  clear: both;
}

.github-fork-ribbon {
  background: #000 !important;
  font-family: "Andale Mono", AndaleMono, monospace !important;
}

.github-fork-ribbon a {
  border: 4px double #29ff82 !important;
  color: #29ff82 !important;
}

.github-fork-ribbon a:hover {
  border: 4px double #8fffbe !important;
  color: #8fffbe !important;
}

@media (max-width: 500px) {
  .github-fork-ribbon-wrapper {
    display: none;
  }

  header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    font-size: 11px !important;
  }

  .container {
    top: 40px !important;
  }

  .content {
    margin: 0px !important;
  }	

  nav,
  .content-wrapper {
    position: relative !important;
    display: block !important;
    top: inherit !important;
    left: inherit !important;
    right: inherit !important;
    bottom: inherit !important;
    overflow: inherit !important;
    float: left !important;
    clear: both !important;
  }

  #shell-btn {
    display: none;
  }

  header .right:after {
    content: "mini";
  }
}
