body {
}

.stack {
  perspective: 1000px;
}

.layer {
    transform-style: preserve-3d;
    transform: rotateX(45deg) rotateY(45deg) rotateZ(45deg) rotateZ;
}

.layer {
}

.chooser {
  display: none;
  position: fixed;
  white-space: pre;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background: #030;
  color: #000;
  z-index: 10004;
  font-family: monospace;
  padding: 20px;
}

.palette {
  position: fixed;
  z-index: 3;
  top: 0px;
  left: 0px;
}

.palette .color {
  position: relative;
  top: 0px;
  display: inline-block;
  background: #888;
}

.palette .color.root {
}

.palette .color.active {
  box-shadow: inset 1px 1px 20px rgba(0, 255, 0, 0.4);
}

.cursor {
  position: absolute !important;
  top: 0px;
  left: 0px;
  background: #0f0;
  cursor: none;
  z-index: 10002;
}

.cursor.active {
  background: #ff0;
  z-index: 10001;
}
