body {
  margin: 20px;
}

table {
  margin: 20px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.02);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

table table {
  border: 0px;
}

table table td {
  border: 0px !important;
}

th,
td {
  text-align: left;
  vertical-align: top;
  padding: 10px;
}

th {
  font-weight: bold;
  background: rgba(0, 0, 0, 0.05);
}

td {
  border: 1px solid rgba(0, 0, 0, 0.05);;
}

aside {
    font-weight: bold;
    background: #ffa;
}
