body {
  background: transparent;
  color: #000;
}

table {
  border: 1px solid #aaa;
  width: 100%;
}

table thead {
  background: #aaa;
  border-bottom: 2px solid #aaa;
  text-align: left;
}

table td,
table th {
  padding: 10px 20px;
}

table td {
  border-bottom: 1px solid #aaa;
}

main {
  width: 78%;
}

aside {
  position: fixed;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 20%;
  padding-left: 2%;
  overflow: auto;
}

aside pre {
  font-size: 12px;
}

.event {

}

.event .public,
.event .private {
}

.event .public {
  color: #0a0;
}

.event .private {
  color: #ff5500;
}

.event button {
  font-size: 12px;
  margin: 2px;
}

#details h3 { 
  margin: 0px;
  margin-top: 10px;
  color: #888;
}
