body {
  background: transparent;
  color: #000;
}

table {
  border: 1px solid #aaa;
}

table thead {
  background: #aaa;
  border-bottom: 2px solid #aaa;
}

table td,
table th {
  padding: 10px 20px;
}

table td {
  border-bottom: 1px solid #aaa;
}

main {
  width: 75%;
}

aside {
  position: fixed;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 20%;
  border-left: 1px solid #aaa;
  padding-left: 20px;
  overflow: auto;
}

aside pre {
  font-size: 12px;
}
