doctype html
html(lang='en')
  head
    title Blank Template
    script(type='text/javascript', src='/usr/lib/js/zepto/min.js')
    script(type='text/javascript', src='/usr/lib/js/lodash/modern.min.js')
    script(type='text/javascript', src='#{path}/js/app.js')
    script(type='text/javascript').
      // js here

    link(rel='stylesheet', type='text/css', href='#{path}/css/normalize.css')
    link(rel='stylesheet', type='text/css', href='#{path}/css/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  body
    #stack
    #tools
      ul
        li
          input(type="radio", name="mode", value="view", checked) 
          |  View
          | 
          input(type="radio", name="mode", value="edit")
          |  Edit
